<div class="container">
    <div class="row">
        <!-- First Plan -->
        <div class="col-md-4">
            <div class="plan rounded" style="border-color:white; background-color: transparent; color: white;">
                <h3>Basic Plan</h3>
                <ul class="text-left">
                    <li> Upload 10 photos in gallery.</li>
                    <li> Get 10 customer reach per month.</li>
                    <li> Get 10 buy lead customer mobile numbers per month.</li>
                    <li> Get profile on top rank once in a month.</li>
                </ul>
                <button class="btn btn-primary">Buy Now in 999 MRP</button>
            </div>
        </div>

        <!-- Second Plan -->
        <div class="col-md-4">
            <div class="plan rounded" style="border-color:white; background-color: Silver; color: black;">
                <h3>Silver Plan</h3>
                <ul class="text-left">
                    <li> Upload 50 photos in gallery.</li>
                    <li> Get 50 customer reach per month.</li>
                    <li> Get 50 buy lead customer mobile numbers per month.</li>
                    <li> Get profile on top rank 10 times in a month.</li>
                </ul>
                <button class="btn btn-primary">Buy Now in 4999 MRP</button>
            </div>
        </div>

        <!-- Third Plan -->
        <div class="col-md-4">
            <div class="plan rounded" style="border-color: white ; background-color: Gold; color: black;">
                <h3>Gold Plan</h3>
                <ul class="text-left">
                    <li> Upload 100 photos in gallery.</li>
                    <li> Get 100 customer reach per month.</li>
                    <li> Get 100 buy lead customer mobile numbers per month.</li>
                    <li> Get profile on top rank more than 15 times in a month.</li>
                </ul>
                <button class="btn btn-primary">Buy Now in 9999 MRP</button>
            </div>
        </div>
    </div>
</div>