<div class="container mt-5">
        <h2 class="mb-4">New Photographer Portfolio Form</h2>
        <!-- Bootstrap Form -->
        <form method="post" action="/postjob" enctype="multipart/form-data">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
          </div>
          <div class="form-group">
            <label for="contact">Contact Number:</label>
            <input type="tel" class="form-control" id="contact" name="contact" required>
          </div>
          <div class="form-group">
            <label for="gmail">Gmail:</label>
            <input type="email" class="form-control" id="gmail" name="gmail" required>
          </div>
          <div class="form-group">
            <label for="linkedin">LinkedIn URL:</label>
            <input type="url" class="form-control" id="linkedin" name="linkedin" required>
          </div>
          <div class="form-group">
            <label for="imageUrl">Choose Passport Size Photo:</label>
            <input type="file" class="form-control-file" name="imageUrl" id="imageUrl" accept="image/*" required/>
            </div>
            <!-- <div class="form-group">
              <label for="files">Upload Photo's for Your Gallry</label>
              <input type="file" class="form-control-file" name="files" id="files"  accept="image/*" multiple>
            </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
